body {
    background-color: #f6f6fe;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
}

.description h1 {
    font-weight: 1;
}

.description h1 strong {
    font-weight: 800;
}

.people-say-profile-photo {
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: #e5e2db;
}

/**----card-----*/

.people-say-quotation img{
    height: 30px;
}

.people-say-quotation {
    margin-bottom: 20px;
}

.card-people-say {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    width: 200px;
}

.people-say-profile {
    display: grid;
    grid-template-columns: 30px auto;
    column-fill: auto;
    justify-content: baseline;
    margin-top: 20px;
    grid-auto-rows: min-content;
    column-gap: 5px;
    
}

.people-say-profile-photo {
    grid-row: span 2;
}

.people-say-profile-name, .people-say-profile-profetion {
    grid-column: 2;
    font-size: 11px;
}

.people-say-profile-name {
    font-weight: 700;
}


/*----- table people say--------*/

.people-say {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
}

.card-1 {
    grid-column: 1;
    grid-row: 2;

}

.card-2 {
    grid-column: 2;
    grid-row: 2;
    transform: translateY(-100px);
}

.card-3 , .card-4 {
    grid-column: 3;
}
.card-5 {
    grid-row: 1;
}

.card-5, .card-6 {
    grid-column: 4;
    transform: translateY(50px);
}


